body {background-color: #292929; margin: 0}

.error { 
    padding-inline: 10px;
    font-size: small;
    margin-bottom: 10px;
};

.authError {
    position: fixed;
    width: auto;
    top: 19%;
    z-index: 1001;
}

.cProducts::-webkit-scrollbar {
    display: none;
}

.product:hover {
    height: 100%;
    position: relative;
    top: -10px;
}

.product:hover .img {
    width: 100;
    height: 100;
}